<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'yumcookie.jpeg', class: "img-fluid" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'pastry.jpeg', class: "img-fluid" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'sunflowers.jpeg', class: "img-fluid" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'pie.jpeg', class: "img-fluid" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'cupcake.jpeg', class: "img-fluid" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<div class="home">
  <br/>
  <br/>
  <br/>
  <div class="container">
    <div class="row">
      <div class="info col">
        <br/>
        <h2 align="center">Tour Our Bakery</h2>
        <h3 style="color:black;">Find the perfect treat from out asssorment of fresh baked goodies</h3>
        <br/>
        <%= image_tag 'pastry2.jpeg', style: 'width:500px;height:600px;', class: 'img-fluid' %>
        <br/>
        <br/>
        <div align="center">
          <%= link_to 'Learn more', '#', class: "btn btn-primary" %>
        </div>
        <br/>
      </div>
      <div class="info col offset-1">
        <br/>
        <h2 align="center">Explore Our Flowers</h2><h3 style="color:black;">We offer pre-arranged assortments as well as custom options.</h3>
        <br/>
        <%= image_tag 'arrange.jpeg', style: 'width:500px;height:600px;', class: 'img-fluid' %>
        <br/> 
        <br/> 
      </div>
      <br/>  
    </div>
  </div>  
  
  <br/>
  <br/>


<div class="mail">
  <br/>
  <div class="row col-8 offset-3">
    <div class="col-lg-4 col-sm-12 mb-3">
      <br/>
      <h2>Join Our Mailing List</h2>
      <p>Join the family! Stay up to date on new seasonal flavors, delicious recipes and special offers.</p>
      <br/>
      <h4 align="center"><%= link_to 'Subscribe', '#', :style=> 'color:#FFFFFF; border-style: solid;' %></h4>
    </div>
    <div class="col-lg-4 col-sm-12 mb-3">
      <%= image_tag 'mail2.png', class: 'img-fluid' %>
    </div>
  </div>
</div> 
<br/>
<br/>  
</div>


