<!DOCTYPE html>
<html>
  <head>
    <title>QuinnPie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

   <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div align="center" class="offset-1">
        <%= link_to 'Quinn Pie', root_path, class: 'navbar-brand', style: 'color: #58F6C4; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;' %>  
      </div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Bakery</a>
          <a class="dropdown-item" href="#">Flowers</a>
          <a class="dropdown-item" href="#">Merch</a>
<!--           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <div class="footer">
      <footer>
        <div class="offset-1">
        <div class="row">
          <div class="col" align="center">
           <span class="fa fa-facebook-square fa-4x social-button"></span> 
           <span class="fa fa-twitter-square fa-4x social-button"></span>
           <span class="fa fa-instagram fa-4x social-button"></span> 
          </div>
          <div class="col">
            <br/>
            <h2>Hello</h2>
          </div> 
        </div>     
      </div>
      </footer>
    </div>    
  </body>
</html>
